@media screen and (max-width: 480px) {
    i {
      font-size: 18px;
    }
  }
  
  
  @media screen and (min-width: 481px) and (max-width: 1200px){
    i {
      font-size: 18px;
    }
  }
  
  
  @media screen and (min-width: 1201px) and (max-width: 1920px){
    i {
      font-size: 26px;
    }
  }
  :host{
      background-color: blue;
  }
  
  .myimgs{
    height: 200px;
  }